<div class="overflow-x-auto">
  <table class="table table-compact w-full">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Job Description</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of users">
      <tr>
        <td>{{ user.name + ' ' + user.surname | titlecase }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.position | titlecase }}</td>
        <td>{{ user.location | titlecase }}</td>
      </tr>
    </tbody>
  </table>
</div>
